<div fxLayout="row" fxLayoutAlign="center center">
  <h1>To-do List</h1>

  <div>
    <label>New Task</label>
    <input 
      type="text" 
      (input)="onChangeTask($event)" 
      [value]="taskContent"
      placeholder="Enter a new task">
    <button 
      (click)="onAddTask()" 
      [disabled]="!taskContent">Add</button>
  </div>

  <div *ngIf="!onSpanish">
    <ul  *ngFor = "let task of taskList;">
      <li [ngClass]="task.uid">
        <span>{{ task.content }}</span>
        <button (click)="onDeleteTask($event)">Delete</button>
      </li>
    </ul>
  </div>

  <div *ngIf="onSpanish">
    <ul  *ngFor = "let task of translatedTaskList;">
      <li [ngClass]="task.uid">
        <span>{{ task.content }}</span>
        <button (click)="onDeleteTask($event)">Delete</button>
      </li>
    </ul>
  </div>

  <div *ngIf="!onSpanish">
    <button (click)="onSwitchToSP()">Translate to Espanol!</button>
  </div> 

  <div *ngIf="onSpanish">
    <button (click)="onSwitchToEN()">Back to English!</button>
  </div> 

  <button routerLink="home">Home page</button>
  <button (click)="authService.SignOut()">Sign out</button>
</div>